* {
	padding: 0;
	margin: 0;
	-wbkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #737373;
}

#wrapper {
	margin: 0 auto;
	max-width: 1020px;
	width: 98%;
	background: #2f3038;
	padding: 2%;
	border-radius: 2px;
}

header {
	width: 98%;
	min-height: 100px;
	padding: 5px;
	margin-bottom: -40px;
	text-align: center;
}

img {
	text-align: center;
	max-width: 100%;
	height: auto;
}

nav {
	width: 95%;
	margin: 15px auto;
	overflow: hidden;
}

nav ul {
	list-style: none;
	overflow: hidden;
}

nav li a {
	background: #737373;
	border-right: 1px solid #2F3038;
	color: #2F3038;
	display: inline-block;
	float: left;
	font: 16px, Arial, Helvetica;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	width: 16.5%;

	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	transition: background 0.5s ease;
}

nav li a:hover, nav li.active a {
	background: #dadada;
	}

/*---MEDIA QUERIES--*/
@media only screen and (max-width: 580px) {
	nav li a {
		width: 50%;
		font: 13px Arial, Helvetica;
		padding-bottom: 12px; 
		border-bottom: 1px solid #2f3038;
	}
	nav li:nth-child(even) a {
		border-right: none;
	}
}