<h1>Blog Posts</h1>
<% @posts.each do |post| %>
	<h3><%= link_to post.title,post %></h3> <!-- link_to instead of href; ,post to take you to the corresponding page-->
	<p><%= post.body %></p>
	<hr>
<% end %>
